html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.eLogo{
    color: #4bcaff;
}
.imageHero {
    background-image: url("/images/HERO.jpg");
    height: 70vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
}

.navBar {
    height: 10%;
    color: white;
    background-color: rgba(0, 0, 0, 0.61);
    font-size: 2em;
    font-family: Ubuntu;
    text-transform: uppercase;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.encadre{
    border: 2px solid #4bcaff;
    padding: 4px 8px;
    text-decoration: none;
    color: #4bcaff;
}

.encadreDeux {
    border: 2px solid #4bcaff;
    padding: 4px 8px;
    text-decoration: none;
    color: #4bcaff;

}


.menu, a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
}

.citationHero {
    height: 90%;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}



.un, .deux {
    padding-right: 5vh;
    padding-left: 5vh;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.53);
    font-size:3em;
}

.cadranBleu {

    background-color: #4bcaff;
    background-size: cover;
    width: 100vw;
    height: 30vh;
}

.services {
    color: white;
    font-family: Ubuntu;
    align-items: center;
}

.pictoServices {
    margin-right: 10px;
    display: flex;
    justify-content: space-around;

}

.titleServices {
    display: flex;
    justify-content: space-around;
}

.textServices {
    display: flex;
    justify-content: space-around;
}

.navBarDeux{
    height: 10%;
    color: black;
    font-size: 2em;
    font-family: Ubuntu;
    text-transform: uppercase;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5vw;
    padding-right: 5vw;
}

.navBarDeux a {
    margin-top: 20px:;
    color: black;
}

.lineUne img {
    width: 400px;
    height: 230px;
    margin: 0 10px;
}

.lineUne {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.lineDeux img {
    width: 400px;
    height: 230px;
    margin: 0 10px;
}

.lineDeux {

    display: flex;
    justify-content: center;
    margin-top: 20px;

}

.defaultSection {
    padding-left: 2.5cm;
    width: 100vw;
    height: 50vh;
    font-family: Ubuntu;
    color: white;;
    margin-top: 50px;
    background-color: #515f67;
    display: flex;;
    justify-content: space-between;
    align-items: center;
}

.video {
    padding-right: 5cm
}

button {
        background-color: transparent;
        color: black;
        border: 2px solid black;
        padding: 10px 20px;
        font-size: 16px;
}

.twitter {
    width: 100vw;
    height: 10vh;
    color: white;
    background-color: #4bcaff;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.twitter img {
    height: 30px;
    padding-right: 5cm;
}

.twitter h2 {
    font-family: Ubuntu;
    padding-left: 2.3cm;
}

.twitterDescription {
    width: 100vw;
    height: 10vh;
    color: white;
    background-color: #4bcaff;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 2.3cm;
}

.johnTittle {
    color: white;
    font-family: Ubuntu;
    background-color: #8cb3d7;
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    padding-top: 3cm;
}

.left {
    padding-left: 2.3cm;
}

.right {
    padding-right: 2.5cm;
    padding-top: 1cm;
}

.logoJohn {

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 20px;
}

.logoJohn img {
    margin-right: 20px;
}

.guillemets {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2cm;
}

.guillemets img {
    padding-right: 6.8cm;
    width: 40px;
    height: 35px;
}

.textTestimonials {
    font-family: Ubuntu;
    padding-left: 2cm;
}

.textTestimonials h3 {
    font-family: Ubuntu;
    color: #4bcaff;
}

.contactCadre {
    color: white;
    font-family: Ubuntu;nt
}

.contactTittle {
    padding-left: 2cm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #8cb3d7;
    width: 100vw;
    height: 10vh;
}

.contactCadre {
    width: 100vw;
}

form {
    font-family: Ubuntu;
    background-color: #4bcaff;
    width: 100vw;
    height: 50vh;
    padding-top: 1cm;
    padding-left: 2cm;
    background-color: #8cb3d7;
}

input[type="text"],
input[type="email"],
textarea {
    border-color: white;
    border-top-color: white;
    width: 30%;
    padding: 10px;
    font-size: 16px;
    background-color: #8cb3d7
}


.textArea {
    width: 85vw;
    height: 10vh;
}

.button {
    color: white;
    font-family: Ubuntu;
    width: 7cm;
    height: 1.5cm;
    background-color: #4bcaff;
    border: none;

}


.bandeFin{
    font-family: Ubuntu;
    display: flex;
    background-color: #3e515b;
    color: white;
    padding-right: 5cm;
}
.menuFin {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 5vh;
    background-color: #3e515b;
    padding-left: 1.5cm;
}